/* ? -------  Trouble shoot checking section --------- */

/* * {
  background-color: rgb(0 100 0 / 0.1);
} */

/* *--------------------- Reset ---------------------* */

*,
*::after,
*::after {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  list-style: none;
  text-decoration: none;
}

.container {
  margin: 0rem 1rem;
  padding: 1rem 1rem;
}

@media screen and (min-width: 1600px) {
  .container {
    max-width: 1600px;
    margin: 0rem auto;
  }
}

body {
  background-color: var(--color-background);
  color: var(--color-fonts);
  -webkit-tap-highlight-color: transparent;
}

button,
a,
input {
  color: var(--color-fonts);
}

/* *--------------------- Root ---------------------* */

:root {
  --color-background: #fff;
  --color-fonts: #000000;
  --color-playIcon-background: #f3f5f8;
  --color-primary-color: #c83c3c;
}

/* *------------------ Typography -------------------* */

body {
  font-size: 62.5%;
  /* 1rem = 10px */
}

h1 {
  font-size: 2rem;
  font-weight: 500;
}

h2 {
  font-size: 1.2rem;
  font-weight: 500;
}

p {
  font-size: 1rem;
  font-weight: 300;
}

input,
a,
button {
  font-size: 1rem;
}

@media screen and (min-width: 1000px) {
  h1 {
    font-size: 2.5rem;
  }

  h2 {
    font-size: 1.4rem;
    font-weight: 500;
  }

  p {
    font-size: 1.2rem;
    font-weight: 300;
  }
}

/* --------------------------- Header ---------------------------- */
.header {
  margin-top: 10px;
  height: 175px;
}

.header__top {
  display: flex;
  justify-content: space-between;
  align-items: center;
  margin-bottom: 20px;
}

.header__top .icon {
  width: 25px;
  height: 25px;
}

.header__main {
  padding: 1rem;
  position: relative;
  background-color: var(--color-primary-color);
  display: flex;
  justify-content: space-between;
  align-items: center;
  border-radius: 30px;
}

.header__main__text {
  color: white;
  width: 25vw;
}

.hero-image {
  position: absolute;
  bottom: 0;
  right: 0;
}

@media screen and (min-width: 414px) {
  .header__main__text {
    width: auto;
  }
}
